/* giving all elements a border box value 
 code borrowed from shayhowe.com*/
* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section, aside {
	border: 1px solid black;
	height: 500px;
}

section {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 30%;
}

footer {
	clear: both;
}

/* container for main elements */
.container {
	background-color: lightblue;
	margin: 0 auto;
	padding: 10px 30px;
}

/*the whole box model*/
.box {
	border-radius: 20px;
	color: #f25;
	border: 4px solid blue;
	margin: 10px;
	padding: 15px;
	width: 500px;
	background-color: white;
}

/* Just the p of the box style*/
.box p {
	border: 1px dotted #0f0;
	color: brown;
	background-color: gray;
}

p {
	color: black;
	font-size: 1.5em;
	display: inline-block;
}

.first li {
	border: 1px dashed #0ff;
	margin: 10px;
	background: #999;
}

li.last {
	border: 2px dotted #f0f;
	background: #777;
}

/* typography */
h1, p {
	margin-bottom: 10px;
}

/* Buttons */
.btn {
	border-radius: 7px;
	display: inline-block;
	margin: 0px;
}

.btn-alt {
	border: 1.5px solid purple;
	padding: 5px 25px;
}