/*

giving all elements a border box value 

code borrowed from shayhowe.com

 ------------------------------------------
 web-safe fonts include:
Arial
Courier New, Courier
Garamond
Georgia
Lucida Sans, Lucida Grande, Lucida
Palatino Linotype
Tahoma
Times New Roman, Times
Trebuchet
Verdana

Local embed:
@font-face {
  font-family: "Lobster";
  src: local("Lobster"), url("lobster.woff") format("woff");
}

net embed:
https://fonts.google.com/

 ------------------------------------------
Possible list attributes:
- start="x" ... can also be used on list item
- reversed

Adding images as list bullets:
li {
  background: url("arrow.png") 0 50% no-repeat;
  list-style-type: none;
  padding-left: 12px;
}

 */
* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
	text-align: left;
}

body {
	color: white;
}

section, aside {
	height: 500px;
}

section {
	text-align: center;
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 30%;
}

footer {
	text-align: right;
	clear: both;
}

h1 {
	text-indent: 20px;
	text-shadow: 3px 3px 1px grey;
	font-size: 40px;
}

h3 {
	font-size: 40px;
}

/* container for main elements */
.container {
	background-color: orange;
	margin: 0 auto;
	padding: 10px 30px;
}

a {
	color: maroon;
	text-decoration: none;
}

a:hover {
	color: orange;
}

/*the whole box model*/
.box {
	font-family: 'Sedgwick Ave Display', cursive;
	box-shadow: 3px 3px 2px black;
	line-height: 20px;
	border-radius: 20px;
	color: #f25;
	border: 4px solid blue;
	margin: 5px 0px;
	padding: 5px;
	width: 500px;
	background-color: beige;
	background-image: url("../img/box01.png");
	background-size: auto 175%;
}

/* Just the p of the box style*/
.box p {
	font-size: 26px;
	color: red;
}

p {
	color: black;
	font-size: 1.5em;
}

ul {
	text-align: center;
}

.first li {
	margin: 10px 400px;
	background-color: #999;
	background-color: rgba(0,0,0,0.3);
}

/* typography */
h1, p {
	margin-bottom: 10px;
}

/* Buttons */
.btn {
	box-shadow: 3px 3px 3px black;
	border-radius: 7px;
	display: inline-block;
	margin: 0px 30px;
	text-transform: uppercase;
}

/*
.btn:hover {
	box-shadow: 0px 0px 0px black;
}
*/

.btn-alt {
	border: 2px solid orange;
	padding: 5px 25px;
}

#font {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal; /* italic*/
	font-variant: small-caps;
	font-weight: bold; /* 1 - 9 * 10^2 */
	line-height: 22px;
}

#comment {
	font-style: italic;
	color: black;
}

.primary {
	font-size: 18px;
	font-weight: 600;
}

#color {
	background-color: lightblue;
	background: linear-gradient(to top, #ccffff, #0099ff);
}

#gradient {
	background: orange;
	background: linear-gradient(to right, #f9ce39, #ff6600);
}

#boxModel {
	background: orange;
	background: linear-gradient(to right, #ff6600, #99ff33);
}

.secondary li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}

.secondary ul{
	text-align: right;
}

img {
	background: orange;
	background: linear-gradient(to right, #f9ce39, #ff6600);
	padding: 10px;
	float: left;
	width: 400px;
	height: 300px;
	margin: 5px;
}

iframe {
	width: 1500px;
	height: 800px;
}

footer.default {
	text-align: left;
}