/* giving all elements a border box value 
 code borrowed from shayhowe.com*/
* {
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	color: white;
}

section, aside {
	border: 1px solid black;
	height: 500px;
}

section {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 30%;
}

footer {
	clear: both;
}

h1 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

/* container for main elements */
.container {
	background-color: lightblue;
	margin: 0 auto;
	padding: 10px 30px;
}

a {
	color: maroon;
	text-decoration: none;
}

a:hover {
	color: orange;
}

/*the whole box model*/
.box {
	line-height: 20px;
	border-radius: 20px;
	color: #f25;
	border: 4px solid blue;
	margin: 5px 0px;
	padding: 5px;
	width: 500px;
	background-color: white;
}

/* Just the p of the box style*/
.box p {
	border: 1px dotted #0f0;
	color: brown;
	background-color: gray;
}

p {
	color: black;
	font-size: 1.5em;
}

.first li {
	border: 1px dashed #0ff;
	margin: 10px;
	background: #999;
}

li.last {
	border: 2px dotted #f0f;
	background: #777;
}

/* typography */
h1, p {
	margin-bottom: 10px;
}

/* Buttons */
.btn {
	border-radius: 7px;
	display: inline-block;
	margin: 0px 30px;
}

.btn-alt {
	border: 1.5px solid purple;
	padding: 5px 25px;
}

#font {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal; /* italic*/
	font-variant: small-caps;
	font-weight: bold; /* 1 - 9 * 10^2 */
	line-height: 22px;
}

#comment {
	font-style: italic;
	color: grey;
}

.primary {
	font-size: 18px;
	font-weight: 600;
}

.btn-right {
	text-align: right;
}